body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container_one {
    padding-bottom: 30%;
    margin-bottom: 285px;
    background-color: black;
}

.header {
    margin-bottom: 127px;
    padding: 40px 67px;
}

.logo {
    display: inline-block;
    max-width: 28px;
    width: 28px;
}

.logo_image { 
    background-size: cover; 
    background-image: url("image_fortify/Page_1.png");
    height: 35px;
    background-repeat: no-repeat;
}

.text_logo {
    vertical-align: top;
    color: white;
    font-size: 17px;
    padding-left: 16px;
    display: inline-block;
}

.item {
    cursor: pointer;
    opacity: 0.7;
    color: #ffffff;
    font-size: 15px;  
    padding-right: 39px;
    color: white;
}

.item:hover {
    transition: 0.6s;
    opacity: 1;
}

.item:last-child {
    padding: 0px;
}

.menu_block {
    vertical-align: middle;
    float: right;
}

.width {
    margin-left: 25%;;
}

.tittle {
    padding-bottom: 19px;
    color: #ffffff;
    font-size: 34px;
}

.text_block {
    margin-bottom: 42px;
    opacity: 0.52;
    font-size: 12px;
    color: #ffffff;
}

.button {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 11px 15px;
    border-radius: 2px;
    background-color: #1e8cfe;
}

.button:hover {
    transition: 0.3s;
    opacity: 0.9;
}

.text_button {  
    color: white;
    font-size: 13px;
}

.image_block {
    position: absolute;
    margin: 7vw 0 0 25%;
    display: block;
    overflow: auto;
    box-shadow: 0 0 15px;
    text-align: center;
    height: 37vw;
    background-image: url("image_fortify/Root.png"); 
    width: 53vw; 
    background-repeat: no-repeat;
}

.dots_block {
    margin-bottom: 74px;
    width: 100%;
    text-align: center;
    
}

.dots {
    cursor: pointer;
    margin-right: 20px;
    border: 1px solid gray;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: inline-block;
}

.dots:last-child {
    margin-right: 0px;
}

.dots_blue {
    cursor: pointer;
    margin-right: 20px;
    background-color: #0097fc;
    border: 1px solid gray;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: inline-block;
}

.l_container {
    width: 100%;
    max-width: 1000px;
    top: 60%;
    left: 10%;
}

.tittle_block {
    padding-bottom: 47px;
    font-weight: bold;
    font-size: 28px;
    color: #282e32;
}

.text_blue {
    color: #009cfb;
}


.m_width {
    margin: 74px 50px 134px 50px;
}

.icon_block {
    text-align: center;
    font-size: 0;
}

.padding {
    padding-bottom: 80%;
}

.icon_container {
    padding-bottom: 20px;
    max-height: 201px;
    max-width: 320px;
    border: 1px solid #eaeef1;
    margin-right: 40px;
    text-align: center;
    font-size: 0px;
    vertical-align: top;
    width: calc((100% - 100px) /3);
    display: inline-block;
    position: relative;
}

.icon_container:last-child {
    margin-right: 0px;
}

.icon {
    max-height: 201px;
    max-width: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("image_fortify/group_one.svg");
}

.icon_2 {
    max-height: 201px;
    max-width: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("image_fortify/group_two.svg");
}

.icon_3 {
    max-height: 201px;
    max-width: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("image_fortify/group_three.svg");
}

.width_image {
    padding: 0px 68px 0px 58px;
}


.text_icon {
    min-width: 290px;
    max-width: 290px;
    max-height: 75px; 
    font-size: 15px;
    text-align: left;
    vertical-align: top;
    color: #3b4044;
}

.container_button {
    margin-top: 134px;
    border-top: 3px solid #f3f2f2;
}

.width_block {
    margin: 74px 50px 134px 50px;
}

.caption {
    margin-bottom: 61px;
    color: #282e32;
    font-size: 28px; 
    font-weight: bold; 
}

.text_icon_two {
    padding-left: 30px;
    display: inline-block;
}

.download_text {
    font-size: 18px;
    color: #282e32;
    letter-spacing: 0.25px;
}

.text_bottom {
    opacity: 0.52;
    color: #282e32;
    font-size: 13px;
    vertical-align: top;  
}

.button_icon {
    margin-right: 20px;
    display: inline-block;
}

.button_icon:last-child {
    margin: 0px;
}

.icon_button {
    width: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    height: 50px;
    background-image: url("image_fortify/icon-osx.svg")
}

.content {
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid #e9e9e9;
    padding: 23px 150px 27px 30px;
    display: inline-block;
}

.content:hover {
    transition: 0.9s;
    background-color:   #E0FFFF;
}

.icon_button_two {
    width: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    height: 50px;
    background-image: url("image_fortify/icon-win.svg")
}

.content_two {
    border-radius: 2px;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid #e9e9e9;
    padding: 23px 110px 27px 30px;
    display: inline-block;
}

.content_two:hover {
    transition: 0.9s;
    background-color:   #E0FFFF;
}

.tittle_table {
   
    margin-top: 144px;
    color: #282e32;
    font-size: 28px; 
    font-weight: bold; 
}

.how {
    vertical-align: top;
    height: 125px;
    padding-bottom: 50px;
    min-width: 100%;
    font-size: 18px;
    border-bottom: none;
    color: #282e32;
    width: 40%;
}

.cell {
    vertical-align: top;
    height: 125px;
    min-width: 400px;
    letter-spacing: 0.2px;
    padding: 0px 0 24px 55px;
    color: #3B4044;
    line-height: 25px;
    font-size: 15px;
}

.row {
    height: 125px;
    vertical-align: top;
    margin-bottom: 300px;
    border-bottom: 1px solid #F5F5F5;
    width: 90%;
}

.container_for_table {
    margin: 0px 50px 0px 50px;
}

.table {
    margin: auto;
    
}

.text_table {
    cursor: pointer;
    color: #2ca9fc;
}

.text_table:hover {
    opacity: 0.6;
    transition: 0.9s;
}



.container_bottom {
    padding: 86px 197px 82px 203px;
    background-color: #282e32;
}

.logo_bottom {
    margin-bottom: 9px;
    color: #ffffff;
    letter-spacing: 0.34px;
    font-size: 15px;
    opacity: 0.5;
}

.services {
    margin-bottom: 48px;
    opacity: 0.3;
    color: #ffffff;
    font-size: 13px;
}

.item_bottom {
    cursor: pointer;
    opacity: 0.5;
    font-size: 13px;
    color: #ffffff;
    font-size: 15px;
    margin-right: 39px;
    color: white;
}

.item_bottom:hover {
    transition: 0.6s;
    opacity: 0.8;
} 

.item_bottom:last-child {
    margin-right: 0px;
} 

.icon_lock {
    display: inline-block;
    background-repeat: no-repeat;
    width: 55px;
    height: 77px;
    background-image: url("image_fortify/footer-logo.svg")
}

.icon_open {
    display: inline-block;
    background-repeat: no-repeat;
    width: 55px;
    height: 77px;
    background-image: url("image_fortify/Bitmap.png")
}

.icon_bottom {
    float: right;
    vertical-align: top;
    display: inline-block;
}

.content_bottom {  
    display: inline-block;
}

