body {
	color: white;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}


.l_header {	
	padding-bottom: 200px;
	height: 100%;;
	color:  white;
	background-image: url("svg/image.png");
	background-size: cover;
}

.img_container {
}

.background_image {
	width: 100%;
	position: absolute;
}
.b_header {
	margin-left: 114px;
	padding-top: 58px; 
	font-size: 60px;
}

.text {
	margin-top: 0;
	font-size: 18px;
}

.number {
	margin-bottom: 200px;
	display: inline-block;
	font-size: 21px;
}

.info {
	margin-top: 15px;
	vertical-align: top;
	font-size: 17px;
	display: inline-block;
}

.two_by_two {
	width: 80%;
	vertical-align: middle;
	display: inline-block;
}

.container {
	text-align: center;
}

.caption {
	font-size: 50px;
}

.text_1 {
	font-size: 30px;
	text-align: center;
}

.button {
	margin-bottom: 100px;
    background: #41d15e;
    color: white;
    border-radius: 35px;
    display: block;
	width: 397px;
	height: 30px;
    padding: 20px 0;
    margin: 0px auto;
    text-decoration: none;
    text-align: bottom;
    text-transform: uppercase;
    font-weight: bold;
	font-size: 18px;
	margin-top: 66px;
    
}

.container_2 {
	margin-top: 112px;
}

.caption_2 {
	text-align: center;
	color: #1547fe;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.36px;
}

.m_width {
	margin: 112px 260px 0px 290px;
}

.icon {
	margin-bottom: 23px;
	text-align: center;
}

.icon_image {
	display: block;
	margin: 0 auto;
}

.text_3 {
	color: black;
}

.icon_container {
	vertical-align: top;
	width: calc(100% / 2 - 131px);
	display: inline-block;
	margin-right: 131px;
}

.info_block {
	color: black;
	font-weight: bold;
}

.icon_container:last-child {
	margin-right: 0;
}

.image_container_2 {
	margin-top: 85px;
}

.text_2 {
	display: block;
	color: black;
	text-align: center;
}


.services_img {
	display: block;
}

.container_3 {
	margin-top: 110px;
	padding-top: 112px;
	background-color: #efefef;
}

.caption_3 {
	margin-bottom: 21px;
	text-align: center;
	color: #1547fe;
    font-size: 36px;
	font-weight: bold;
    letter-spacing: 0.36px;
}

.m_width_2 {
	margin: 112px 113px 0px 113px;
}

.icon_container_2 {
	width: calc(100% / 2 - 24px);
}

.icon_image_2 {
	display: block;
	width: 558px;
}

.icon_container_2 {
	display: inline-block;
}
.title2 {
	text-align: center;
	color: #1d1e23;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1.2px;
}

.description {
    margin-bottom: 24px;
	background-color: white;
	width: calc(100% - 162px);
}

.text_3 {
	margin-top: 22px;
	display: block;
	text-align: center;
}

.description:last-child {
	margin-bottom: 115px;
}

.caption_why_choose_us {
	font-weight: bold;
	text-align: center;
	color: #1547fe;
    font-size: 36px;
    letter-spacing: 0.36px;
}

.description_2 {
	margin-bottom: 62px;
	font-weight: bold;
	text-align: center;
	color: #1d1e23;
	font-size: 18px;
	letter-spacing: 0.18px;
}

.Why_choose_us_width {
	margin: 62px 177px 0 177px;
}

.svg_icon {
	margin-bottom: 29px;
	text-align: center;
}

.icon_svg_1 {
}

.tittle_3 {
	margin-bottom: 19px;
	font-weight: middle;
	display: inline-block;
	color: black;
	font-size: 18px;
}

.text_tittle {

	text-align: center;
	color: red;
}

.icon_container_3 {
	vertical-align: top;
	margin-bottom: 102px;
	width: calc(100% / 3 - 107px);
	display: inline-block;
}

.container_of_objects {
	text-align: center;
}

.text_description {
	color: black;
}

.repair_costs {
	padding-top: 112px;
	background-color: #efefef;
}

.caption_repair_costs {

	margin-bottom: 47px;
	font-weight: bold;
	text-align: center;
	color: #1547fe;
    font-size: 36px;
    letter-spacing: 0.36px;
}

.repair_costs_width {
	margin: 0px 136px 0px 136px;
}

.img_repairs_1 {
	margin-bottom: 111px;
	margin-right: 24px;
	display: inline-block;
}

.home_rooms {
	text-align: center;
}


.caption_podschet_cost_of_repairs {
	margin-top: 110px;
	margin-bottom: 66px;
	font-weight: bold;
	text-align: center;
	color: #1547fe;
    font-size: 36px;
    letter-spacing: 0.36px;
}

.m_width_3 {
	margin: 0px 198px 0px 199px;
}


.room_button {
	font-weight: bold;
	color: white;
	font-size: 18px;
	letter-spacing: 0.18px;
	padding: 10px 58px 10px 55px;
	box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 22px;
	border: 1px solid #1744fe;
	color: #1547fe;
	text-decoration: none;
	display: block;
}

.button_2 {
	text-align: center;
	margin-right: 24px;
	display: inline-block;
}

.checkbox_block {
	color: black;
}

.price_2 {
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	color: #1547fe;
	font-size: 36px;
	border-radius: 5px;
    border: 1px solid #bed8fd;
	width: 186px;
	padding: 20px 0px 20px 0px;
	text-align: center;
	
}

.total {
	display: inline-block;
}

.area_in {
	text-align: center;
}

.area {
	margin-bottom: 167px;
	margin-top: 30px;
}

.area_2 {
	margin-top: 15px;
}

.grn {
	color: #1d1e22;
    font-size: 24px;
	display: inline-block;
}

.info_area {
	font-weight: bold;
	color: #1d1e22;
    font-size: 24px;
	text-align: center;
	vertical-align: top;
	display: inline-block;
}

.area_m2 {
	margin-right: 60px;
	color: #1d1e22;
    font-size: 24px;
	display: inline-block;
	text-align: center;
}

.amount {
	margin-left: 15px;
	height: 27px;
	color: #1547fe;
	font-size: 36px;

}

.text_chackbox {
	margin-top: 59px;
	display: inline-block;
	color: #6f7b89;
    font-size: 18px;
}

.podschet_cost_of_repairs {
	text-align: center;
}

.width {
	position: relative;
	margin: 105px 322px 105px 322px;
}

.check_in {
	margin-bottom: 111px;
	padding-bottom: 105px;
	background-image: url("svg/background.png");
	background-size: cover;
}

.drawing {
	display: inline-block;
	position: absolute;
	width: 100%;
	background-size: cover;
}



.block_info {
	
}

.button_3 {
	margin-bottom: 100px;
	padding: 27px 0px 27px 0px;
	text-align: center;
    background: #41d15e;
    color: white;
    border-radius: 35px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
	font-size: 18px;
	margin-top: 53px;
}

.button_info {
	text-align: center;
	width: 349px;
	margin: 0 auto;
}

.caption_partners {
	margin-bottom: 21px;
	font-weight: bold;
	text-align: center;
	color: #1547fe;
    font-size: 36px;
	letter-spacing: 0.36px;
}

.img_container_2 {
	display: inline-block;
}

.text_info {
	font-weight: bold;
	text-align: center;
	color: black;
}

.width_info {
	margin: 0px 322px 0px 322px;
}

.icon_partners {
	padding-left: 23px;
	vertical-align: middle;
	display: inline-block;
}

.svg_icon_partners {
	margin-top: 60px;
	text-align: center;
}

.input_info {
	font-size: 18px;
	border-radius: 5px;
	margin-top: 11px;
	position: relative;
	width: 349px;
	height: 37px; 
}

input::-webkit-input-placeholder {
	color: #6f7b89 !important;
}

textarea {
	font-size: 18px;
	color: #6f7b89; 
	width: 349px;
    height: 133px;
    border-radius: 5px;
	margin-top: 20px;
}

.contacts {
	padding-bottom: 112px;
	margin-top: 119px;
	padding-top: 100px;
	width: 100%;
	display: block;
	background-color: #efefef;
}

.width_contacts {
	margin: 0px 112px 0px 112px;
}

.caption_contacts {

	margin-bottom: 21px;
	font-weight: bold;
	text-align: center;
	color: #1547fe;
    font-size: 36px;
	letter-spacing: 0.36px;
}

.social_network {
	margin-bottom: 22px;
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.terrain {
	margin-bottom: 19px;
	font-size: 18px;
	color: #5d656d;
}

.number_contacts {
	font-size: 18px;
	color: #5d656d;
}

.we_are_in_different_social_networks {
	margin-top: 67px;
	color: black;
	font-weight: bold;
	font-size: 18px;
} 

.ten_seconds {
	margin-bottom: 62px;
	font-weight: bold;
	text-align: center;
	color: #1d1e23;
	font-size: 18px;
	letter-spacing: 0.18px;
}

.We_are_in_social_networks {
	display: inline-block;
}

.networks {
	margin-top: 20px;
	margin-right: 23px;
}

.map {
	margin-left: 94px;
	display: inline-block;
	
	text-align: top;

	
}

.map_icon {
	
}

.icon_contacts {

	width: 200px;
	position: relative;
	display: inline-block;
}

