body {
	color: white;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}


.l_header {	
color: black
}

.img_container {
}

.background_image {
	width: 100%;
	position: absolute;
}
.b_header {
	margin-left: 114px;
	padding-top: 58px; 
	font-size: 60px;
}

.text {
	margin-top: 0;
	font-size: 18px;
}

.number {
	margin-bottom: 200px;
	display: inline-block;
	font-size: 21px;
}

.info {
	margin-top: 15px;
	vertical-align: top;
	font-size: 17px;
	display: inline-block;
}

.two_by_two {
	width: 80%;
	vertical-align: middle;
	display: inline-block;
}

.container {
	text-align: center;
}

.caption {
	font-size: 50px;
}

.text_1 {
	font-size: 30px;
	text-align: center;
}

.button {
	padding-bottom: 200px;
    background: #41d15e;
    color: white;
    border-radius: 35px;
    display: block;
	width: 397px;
	height: 30px;
    padding: 20px 0;
    margin: 0px auto;
    text-decoration: none;
    text-align: bottom;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px
}

.container_2 {
	margin-top: 112px;
}

.caption_2 {
	text-align: center;
	color: #1547fe;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.36px;
}

.m_width {
	margin: 112px 260px 0px 290px;
}

.icon {
	text-align: center;
}

.icon_image {
	display: block;
	margin: 0 auto;
}

.text_3 {
	color: black;
}

.icon_container {
	width: calc(100% / 2 - 131px);
	display: inline-block;
	margin-right: 131px;
}

.icon_container:last-child {
	margin-right: 0;
}

.image_container_2 {
	margin-top: 85px;
}

.text_2 {
	display: block;
	color: black;
	text-align: center;
}


.services_img {
	display: block;
}

